/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*DEBUG*/

.debug .container{
    background-color: coral;
    height: 200px;
}


/*FRAMEWORK*/

/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}